// footer
footer{
    width: 100%;
    height: 20%;
    background-color: rgb(17, 146, 146);
    background-size: cover;
    padding: 10px;
    border: 2px solid nth($colores, 1);
    display: flex;
    justify-content: start;
    a{
        margin: 5px;
        img{
            width: 100px;
            height: 100px;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}